.tvtainer{
    overflow:hidden;
    font-weight:100;
    width:100%;
    height:800px;
}
video{
    position:absolute;
    left:0px;
    right:0;
    margin-left:auto;
    margin-right:auto;
    /*  min-width: 50%;
    min-height: 50%;*/
    /*width:100%;*/
    /*height:100%;*/
    /*width:100px:*/
    /*height:100px;*/
    z-index: -1;
    overflow: hidden;
   /*clip-path: inset(10px 20px 30px 40px);*/
    /*clip-path: polygon(10% 0%, 80% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0% 10%);*/
}


.tv{
  height:560px;
  width:800px;
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

}

.imageMask{
    height:100%;
    width:800px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;

    margin-right:auto;
}