
<div class="site-wrapper">
   
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Contact</h1>
            <!-- <p>I respond well to email</p> -->
        </div>
    </div>
    <div class="contactainer" style="text-align:center">

        <div class="row">
            <div class="col-md-12">
                <h2><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/maxwell-volz-57936556">LinkedIn</a></h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <h2><a class="btn btn-primary btn-lg" href="https://github.com/MaxwellVolz">GitHub</a></h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <!-- Trigger -->

                <!-- <span id="myEmail"  value="MaxwellVolz@gmail.com" ></span> -->
                <!-- <h2>Email</h2> -->
                <h3>MaxwellVolz<span>@Gma</span>il.com</h3>
            </div>
        </div>


    </div>
    <hr>
    <footer></footer>
</div>
<!-- /container -->
</div>