<div class="site-wrapper">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="overflow: hidden">
		<!-- <div class="bgAnim"></div> -->
		<div class="container" style="overflow: hidden;">
			
			
			<!-- <div class="bgAnimCover"></div> -->
			<h1>Projects</h1>
			<p>Check 'em out</p>
			<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Projects &raquo;</a></p> -->
		</div>
	</div>

	<div class="previewtainer">
		<div class="row">
			<div class="col-md-3 previewCard">
				<h2>Poyo<sup style="color:#ec971f;">In Development</sup></h2>
				<span class="readMoreIcon glyphicon glyphicon glyphicon-chevron-down readMore" aria-hidden="true"></span>
				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#poyoDesc" aria-expanded="false" aria-controls="poyoDesc"></button>
				<hr>
				<div id="poyoDesc" class="collapse">
					<p> The story is centered around a little bird named Poyo who must restore color to a desolated world.
					</p>
					<button type="button" class="readMore btn-success" data-scrollTar="#poyoFeature"  data-toggle="collapse" aria-controls="poyoDesc">Read More</button>
					
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1 previewCard">
				<h2>IOW<sup style="color:#5cb85c;">Online</sup></h2>
				<span class="readMoreIcon glyphicon glyphicon glyphicon-chevron-down readMore" aria-hidden="true"></span>

				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#iowDesc" aria-expanded="false" aria-controls="iowDesc"></button>
				<hr>
				<div id="iowDesc" class="collapse">
					<p>A phrase translation web application using Google Docs as a database with Google Forms API.</p>
					<button type="button" class="readMore btn-success" data-scrollTar="#iowFeature"  data-toggle="collapse" aria-controls="iowDesc">Read More</button>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1 previewCard" >

				<h2>WordPress<sup style="color:#5cb85c;">Online</sup></h2>
				<span class="readMoreIcon glyphicon glyphicon glyphicon-chevron-down readMore" aria-hidden="true"></span>
				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#wpDesc" aria-expanded="false" aria-controls="wpDesc"></button>
				<hr>
				<div id="wpDesc" class="collapse">
					<p>I am currently hosting a WordPress Blog using Amazon Web Services.</p>
					<p class="techUsed" style="color:gray">Technologies Used: <br>EC2 micro instance, S3 Bucket, Route53</p>
					<!-- <button type="button" class="readMore btn-success" data-scrollTar="#agarFeature"  data-toggle="collapse" aria-controls="poyoDesc">Read More</button> -->
				</div>
			</div>
			
			

		</div>
		<div class="row">

			<div class="col-md-3 previewCard" >
				<h2>FangChat<sup style="color:#5cb85c;">Online</sup></h2>
				<span class="readMoreIcon glyphicon glyphicon glyphicon-chevron-down readMore" aria-hidden="true"></span>
				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#fangDesc" aria-expanded="false" aria-controls="fangDesc"></button>
				<hr>
				<div id="fangDesc" class="collapse">
					<p>Instant browser chat. Utilizes Firebase on the backend and Angular for instant communication between devices and browsers.</p>
					<button type="button" class="readMore btn-success" data-scrollTar="#fangFeature"  data-toggle="collapse" aria-controls="fangDesc">Read More</button>
					<!-- <button type="button" class="readMore btn-success" data-scrollTar="#awsFeature"  data-toggle="collapse" aria-controls="poyoDesc">Read More</button> -->
				</div>
			</div>

			<div class="col-md-3 col-md-offset-1  previewCard" >
				<h2>AWS<sup>Learning</sup></h2>
				<span class="readMoreIcon glyphicon glyphicon glyphicon-chevron-down readMore" aria-hidden="true"></span>
				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#awsDesc" aria-expanded="false" aria-controls="awsDesc"></button>
				<hr>
				<div id="awsDesc" class="collapse">
					<p>I'm comfortable using EC2 instances, S3 Buckets, and Route53. And I'm learning how to use Cloud Formation and Load Balancers.</p>
					<!-- <button type="button" class="readMore btn-success" data-scrollTar="#agarFeature"  data-toggle="collapse" aria-controls="poyoDesc">Read More</button> -->
					<!-- <button type="button" class="readMore btn-success" data-scrollTar="#awsFeature"  data-toggle="collapse" aria-controls="poyoDesc">Read More</button> -->
				</div>
			</div>

			<div class="col-md-3 col-md-offset-1 previewCard" >

				<h2>Agar.io Clone<sup style="color:#d9534f;">Offline</sup></h2>
				<span class="readMoreIcon glyphicon glyphicon glyphicon-chevron-down readMore" aria-hidden="true"></span>
				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#agarDesc" aria-expanded="false" aria-controls="agarDesc"></button>
				<hr>
				<div id="agarDesc" class="collapse">
					<p>AWS project using an EC2 Micro Instance to host a NodeJS server with an open source version of the popular multiplayer browser game, Agar.io.</p>
					<button type="button" class="readMore btn-success" data-scrollTar="#agarFeature"  data-toggle="collapse" aria-controls="poyoDesc">Read More</button>
				</div>
			</div>
			
<!-- 			<div class="col-md-3 col-md-offset-1 previewCard" >
				<h2>AWS</h2>
				<button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#awsDesc" aria-expanded="false" aria-controls="awsDesc"></button>
				<hr>
				<div id="awsDesc" class="collapse">
					<p>Steam Greenlight-bound title that is currently in development. The story is centered around a little bird named Poyo who must restore color to a desolated world.</p>
					
				</div>
			</div> -->

		</div>
	</div>


	<div class="container featurtainer">
		<div class="row featurette" id="poyoFeature">


			<div class="col-md-5 col-md-offset-1" >
				<h1>Poyo<sup style="color:#ec971f;">In Development</sup></h1>
				<p>2D Physics-based platformer created in Unity. </p>
				<p>The story is centered around a little bird named Poyo who must restore color to a desolated world.</p>
				<p>Steam Greenlight-bound title that is currently in development.</p>
				<p class="techUsed" style="color:gray">Technologies Used: <br>Unity, C#, Photoshop, Illustrator, After Effects</p>
				
			</div>

			<div class="col-md-3 col-md-offset-2" style="text-align:center;">
				<!-- Make gif swap out with alternate on click -->
				<!-- <button type="button" class="collapsed descButton" data-toggle="collapse" data-target="#agarDesc" aria-expanded="false" aria-controls="agarDesc"></button> -->
				<img class="rounded" id="mainPoyoGif" src="images/poyo2.gif" alt="Generic placeholder image" width="200" height="200">

				<div class="" id="otherGif">
					<img class="rounded" src="images/poyo.gif" alt="Generic placeholder image" width="200" height="200" style="opacity:0">
				</div>
			</div>
			<!-- <div class="col-sm-6 col-md-2 col-md-offset-1" style="text-align:center;">
			</div> -->
			<button class="scrollTop btn-info" >Scroll Top</button>
		</div>
		
		
		<div class="row featurette" id="iowFeature">

			<div class="col-md-5 col-md-offset-1 col-md-push-5" >
				<h2>In Other Words<sup style="color:#5cb85c;">Online</sup></h2>
				<p>This is a phrase translation app I created using Google Drive and Google Forms. It can help you determine what people really mean when they might be speaking in code. The database is user generated and I could definitely use your submissions!!</p>
				<p class="techUsed" style="color:gray">Technologies Used: <br>Google APIs, JavaScript, User Generated Content, HTML5, CSS3 </p>
				<a href="sites/iow/index.html" class="btn btn-info" role="button">Try it</a>
			</div>
			<div class="col-md-3 col-md-offset-2  col-md-pull-7" style="text-align:center;">
				<img class="rounded" src="images/iow.gif" alt="Generic placeholder image" width="200" height="200"  >
			</div>
			<button class="scrollTop btn-info" >Scroll Top</button>
		</div>

		<div class="row featurette" id="fangFeature">
			
			<div class="col-md-5 col-md-offset-1" >
				<h2>FangChat<sup style="color:#5cb85c;">Online</sup></h2>
				<p>Instant browser chat. Utilizes Firebase on the backend and Angular for instant communication between devices and browsers.</p>
				<p class="techUsed" style="color:gray">Technologies Used: <br>Facebook Authentication, FirebaseDB APIs, JavaScript, HTML5, CSS3</p>

				<a href="sites/fang/index.html" class="btn btn-info" role="button">Try it</a>
			</div>
			<div class="col-md-3 col-md-offset-2" style="text-align:center;">
				<img class="rounded" src="images/fang.gif" alt="Generic placeholder image" width="200" height="200" >
			</div>
			
		</div>

		<div class="row featurette" id="agarFeature">
			<div class="col-md-5 col-md-offset-1 col-md-push-5" >
				<h1>Agar.io Clone<sup style="color:#d9534f;">Offline</sup></h1>
				<p>AWS learning project.</p>
				<p>I was able to recreate the open source agar.io clone project (<a href="https://github.com/huytd/agar.io-clone">src</a>) on Amazon Web Servers using an EC2 Micro Instance as the server and logic controller.</p><p>I used a S3 Bucket publicly hosted as a website, with DNS servers configured using Route53.</p>
				<p>This project is currently offline as of 11.17.16 due to the costs of running a t2 micro.</p>
				<p class="techUsed" style="color:gray">Technologies Used: <br>Amazon Web Services, Git, NodeJS, JavaScript, HTML5 Canvas, CSS3</p>
			</div>
			<div class="col-md-3 col-md-offset-2 col-md-pull-7" style="text-align:center;">
				<img class="rounded" src="images/agario.gif" alt="Generic placeholder image" width="200" height="200">
			</div>
			<button class="scrollTop btn-info" >Scroll Top</button>
			
			
		</div>

		<div class="row featurette" style="min-height:160px">
			<div class="col-md-5 col-md-offset-1" ></div>
			<div class="col-md-3 col-md-offset-2" style="text-align:center;"></div>
			<button class="scrollTop btn-info" >Scroll Top</button>
			
		</div>



	</div>

<!-- 	<footer id="foot"></footer> -->
</div>
