<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://code.angularjs.org/1.3.8/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<script src="angular.app.js"></script>
		<link href="style.css" rel="stylesheet" />
	</head>
	<body ng-app="simpleChat" ng-controller="MessagesCtrl">
		<div class="container">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="../../">MaxwellVolz.com</a></li>
					<!-- <li role="presentation"><a href="http://maxwellv.com/fang/about.html">About</a></li> -->
					<!-- <li role="presentation"><a href="#">More Soon!</a></li> -->
				</ul>
			</nav>
		</div>
		<div class="jumbotron">

			<button type="button" style="float:right;right:40px;" class="btn btn-lg btn-default" ng-click="login()" ng-hide="authData">Log In</button>

			<img id="logo" src="images/fangChatLogo.png">
			<div class="row">
				<p class="col-xs-12 col-sm-12 col-md-12" style="text-align:center">Share word bytes<br>
				</p>
			</div>
			</h1>
		</div>
		<div>
			
			<div class="row">
				<input ng-model="newMessage.text" ng-keyup="handleKeyup($event)" class="col-xs-12 col-sm-12 col-md-12">
			</div>
			<div class="row msgContainer">
				<div ng-repeat="message in data.messages | orderObjectBy:'time':true" class="alert alert-info" > 
					<b>{{ message.author }}:</b> {{ message.text }} <b> </b> 
				</div>
			</div>
		</div>
	</body>
</html>